*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #404040;
}

h1
{
    color: white;
    padding-left: 120px;
    padding-bottom: 30px;
}

.head
{
    background-color: #505050;
    margin: 0px 30px 0px 30px;
    height: 100px;
}
.navigation
{
    background-color: black;
    height: 25px;
    padding-top: 8px;
    margin: 0px 150px 0px 120px;
}

.navigation a{
    text-decoration: none;
    display: inline-block;
    color: white;
    margin-right: 50px;
    padding-left: 20px;
}

/*Section middle*/
.middle
{
    background-color: white;
    height: 900px;
    margin: 0px 30px 0px 30px;
    padding: 20px;
}
.sec1
{
    color: white;
    height: 360px;
    width: 960px;
    margin: 30px 0px 30px 100px;
}
.sec2
{
    margin: 10px 30px 30px 90px;
    background-color: lightgray;
    color: #505050;
    padding: 5px;

    width: 960px;
}
.sec3
{
    margin: 10px 30px 30px 90px;
    color: #505050;
}

hr
{
    margin: 0px 40px 0px 90px;
    width: 960px;
}
.item
{
    height: 230px;
    width: 210px;
    background-color: #505050;
    display: inline-block;
    margin-top: 20px;
    margin-left: 35px;

}

/*First Image style*/

.item1{
    height: 230px;
    width: 210px;
    background-color: #505050;
    display: inline-block;
    margin-top: 20px;
    margin-left: 90px;

}
.part1
{
    height: 210px;
    width: 210px;
    margin-bottom: 106px;
}
.part2
{
    height: 20px;
    width: 214px;
    background-color: lightgray;
    text-align: center;
    color: black;
}

.footer
{
    background-color: #505050;
    margin: 0px 30px 0px 30px;
    height: 30px;
}
.left
{
    color: white;
    float: left;
    padding-left: 40px;
    padding-top: 10px;
}
.right
{
    color: white;
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}

/*---------------------------------------------End-----------------------------------------*/